{% extends 'user/userdetails.html' %}
{% block userblock %}
{% load static %}
<style>
body{
     background: url();

        background-size: cover;
    }
    .menu table{
        width:100%;
        text-align:center;

    }

    .menu table td:hover{
         background:rgb(0,0,0);
    }

     .menu table td{
          background: #371C1C;
     }

     .menu table,.menu table th,.menu table td {
          border: ;
          border-collapse: collapse;
     }

     .menu table th,.menu table  td {
          padding: 15px;
     }
     .topic h1{
           color:white;
           padding:2px;
           text-align:center;
           border-style:none;
           height:100px;
           width:1330px;
           float:left;
     }
     #chartContainer{
            width: 900px;
            margin-left: 365px;
            margin-top: -354px;
            position: fixed;
     }
     .sidemenu{
     margin-top: -200px;
     }
      .years p{
         color:white;
         text-align:left;
         background-color:black;
         width:120px;
         }
         .buttonyear {
  background-color: #584b4f;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }

  .new1{
    background: url("{% static 'foodbg3.webp' %}")no-repeat;
    /*background-size: 100% 100%;*/
    background-size: fixed;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    background-attachment: fixed;
}
.con{
  max-width: 64em;
   margin: auto;
  
}
  
</style>


<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Food Order Year Predictions"
	},
	data: [{
	{% if chart_type == "bar" %}
		type: "bar",
	{% elif chart_type == "pie" %}
		type: "pie",
	{% elif chart_type == "spline" %}
		type: "spline",
	{% endif %}
		startAngle: 240,
		indexLabel: "{label} {y}",
		dataPoints: [
		{% for o in form %}
			{y: {{o.dcount}}, label: "{{o.month}}"},
		{% endfor %}
		]
	}]
});
chart.render();

}

</script>

<body>
<div class="topic">
     <section class="new1">
     
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 style="color: rgb(47, 0, 255);">Rating Details</h1>
              
              <hr>
              </div>
              </div>


<div class="sidemenu"><br>
     <br>
    <h3 style="color:white;margin-left:60px;margin-top:80px"><a style="color:white;text-decoration: none; background-color:black;" href="{% url 'orderchart' 'pie' %}" >Pie Chart</a></h3>
    <h3 style="color:white;margin-left:60px;margin-top:50px;"><a style="color:white;text-decoration: none; background-color:black;" href="{% url 'orderchart' 'bar' %}">Bar Chart</a></h3>
    <h3 style="color:white;margin-left:60px;margin-top:80px;"><a style="color:white;text-decoration: none; background-color:black;" href="{% url 'orderchart' 'coloumn' %}">Coloumn Chart</a></h3>
    <div class="year">
     <p style="color:white; margin-left:60px;margin-top:30px; width:120px; background-color:black">Select Your Year</p>
     <form method="POST">
         {% csrf_token %}
       <select name="year1" style="margin-left:60px;margin-top:2px;">
          <option value="--Select The Year--">--Select The Year--</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
         <option  value="2017">2017</option>
         <option  value="2018">2018</option>
         <option value="2019">2019</option>
         <option value="2020">2020</option>
         <option value="2021">2021</option>
         <option value="2022">2022</option>
       </select>
       <br><br>
       <input type="submit" class="buttonyear" style="margin-left:60px;margin-top:2px;">
     </form>
     </div>

</div>
<div id="chartContainer" class="graph"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>


</body>
{% endblock %}